In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import math
from scipy.stats import norm
from scipy import stats 
from scipy.stats import skew
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn.metrics import r2_score
from sklearn import preprocessing
from sklearn.preprocessing import OneHotEncoder
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [2]:
df=pd.read_csv("fifa21_male2.csv")

C:\Users\roriv\AppData\Local\Temp\ipykernel_39252\2536338427.py:1: DtypeWarning: Columns (78) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("fifa21_male2.csv")

In [4]:
df1=df.copy()

In [7]:
df1

,ID,Name,Age,OVA,Nationality,Club,BOV,BP,Position,Player Photo,...,CDM,RDM,RWB,LB,LCB,CB,RCB,RB,GK,Gender
0,2,G. Pasquale,33,69,Italy,Udinese,71,LWB,LM,https://cdn.sofifa.com/players/000/002/16_120.png,...,70+-1,70+-1,71+-2,70+-1,69+0,69+0,69+0,70+-1,17+0,Male
1,16,Luis Garc√≠a,37,71,Spain,KAS Eupen,70,CM,CM CAM CDM,https://cdn.sofifa.com/players/000/016/19_120.png,...,66+1,66+1,62+1,60+1,60+1,60+1,60+1,60+1,17+1,Male
2,27,J. Cole,33,71,England,Coventry City,71,CAM,CAM RM RW LM,https://cdn.sofifa.com/players/000/027/16_120.png,...,54+0,54+0,52+0,47+0,46+0,46+0,46+0,47+0,15+0,Male
3,36,D. Yorke,36,68,Trinidad &amp; Tobago,Sunderland,70,ST,NaN,https://cdn.sofifa.com/players/000/036/09_120.png,...,65+0,65+0,56+0,57+0,51+0,51+0,51+0,57+0,22+0,Male
4,41,Iniesta,36,81,Spain,Vissel Kobe,82,CAM,CM CAM,https://cdn.sofifa.com/players/000/041/20_120.png,...,73+3,73+3,70+3,67+3,64+3,64+3,64+3,67+3,17+3,Male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17120,259088,A. Medioub,22,64,France,CD Tondela,66,CB,CB,https://cdn.sofifa.com/players/259/088/20_120.png,...,55+2,55+2,54+2,57+2,64+2,64+2,64+2,57+2,12+2,Male
17121,259090,W. Rickard,18,56,Wales,Burnley,58,CAM,CAM CM,https://cdn.sofifa.com/players/259/090/20_120.png,...,52+2,52+2,53+2,52+2,49+2,49+2,49+2,52+2,17+2,Male
17122,259091,C. Barrett,18,56,England,Burnley,56,RB,RB,https://cdn.sofifa.com/players/259/091/20_120.png,...,50+2,50+2,54+2,54+2,54+2,54+2,54+2,54+2,14+2,Male
17123,259101,J. Gazibegoviƒá,20,62,Bosnia Herzegovina,SK Sturm Graz,62,RB,RB LB,https://cdn.sofifa.com/players/259/101/20_120.png,...,58+2,58+2,60+2,60+2,58+2,58+2,58+2,60+2,16+2,Male
17124,259105,Pablo Rodr√≠guez,18,59,Spain,Lecce,61,ST,ST,https://cdn.sofifa.com/players/259/105/20_120.png,...,32+2,32+2,36+2,34+2,30+2,30+2,30+2,34+2,14+2,Male

In [24]:
df_hipotesis=df1[['Age', 'Nationality', 'Long Passing', 'Ball Control', 'Movement','Acceleration', 'Sprint Speed', 'Agility', 'Reactions', 'Balance', 'Power', 'Shot Power', 'Jumping', 'Stamina', 'Strength', 'Long Shots', 'Mentality', 'Aggression', 'Interceptions', 'Positioning', 'Vision', 'Penalties', 'Composure', 'Defending', 'Marking', 'Standing Tackle',	'Sliding Tackle',	'Goalkeeping']]

In [25]:
df_hipotesis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17125 entries, 0 to 17124
Data columns (total 28 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Age              17125 non-null  int64
 1   Nationality      17125 non-null  object
 2   Long Passing     17125 non-null  int64
 3   Ball Control     17125 non-null  int64
 4   Movement         17125 non-null  int64
 5   Acceleration     17125 non-null  int64
 6   Sprint Speed     17125 non-null  int64
 7   Agility          17067 non-null  float64
 8   Reactions        17125 non-null  int64
 9   Balance          17067 non-null  float64
 10  Power            17125 non-null  int64
 11  Shot Power       17125 non-null  int64
 12  Jumping          17067 non-null  float64
 13  Stamina          17125 non-null  int64
 14  Strength         17125 non-null  int64
 15  Long Shots       17125 non-null  int64
 16  Mentality        17125 non-null  int64
 17  Aggression       17125 non-null  int64
 18  Interceptions    17118 non-null  float64
 19  Positioning      17118 non-null  float64
 20  Vision           17067 non-null  float64
 21  Penalties        17125 non-null  int64
 22  Composure        16702 non-null  float64
 23  Defending        17125 non-null  int64
 24  Marking          17125 non-null  int64
 25  Standing Tackle  17125 non-null  int64
 26  Sliding Tackle   17067 non-null  float64
 27  Goalkeeping      17125 non-null  int64
dtypes: float64(8), int64(19), object(1)
memory usage: 3.7+ MB

In [22]:
# voy a separar columnas numericas y categoricas para trabajarlas.

In [31]:
numerical = df_hipotesis.select_dtypes(include=np.number)
categorical = df_hipotesis.select_dtypes(include=object)

In [35]:
#Aqui se plantea un problema, los valores de la columna nacionalidad son muchos, y esto puede generar demasiadas columnas si hago variables dummies. 
unique_values=categorical['Nationality'].unique()
print(unique_values)

['Italy' 'Spain' 'England' 'Trinidad &amp; Tobago' 'Germany' 'Turkey'
 'Wales' 'Republic of Ireland' 'Nigeria' 'Brazil' 'Australia' 'Hungary'
 'Argentina' 'Portugal' 'Netherlands' 'France' 'Norway' 'Tunisia'
 'Bulgaria' 'Poland' 'United States' 'Mali' 'Finland' 'Iceland'
 'Czech Republic' 'Serbia' 'Sweden' 'Georgia' 'Denmark' 'Senegal' 'Israel'
 'Cameroon' 'Greece' 'Scotland' 'Ukraine' 'China PR' 'Colombia' 'Belgium'
 'Ivory Coast' 'Switzerland' 'Canada' 'Chile' 'Peru' 'Paraguay' 'Mexico'
 'Japan' 'Ghana' 'Korea Republic' 'Belarus' 'Egypt' 'Congo' 'Uruguay'
 'South Africa' 'Northern Ireland' 'Togo' 'Jamaica' 'Austria' 'Algeria'
 'Morocco' 'Albania' 'North Macedonia' 'Slovenia' 'Madagascar' 'Croatia'
 'Kosovo' 'Estonia' 'Moldova' 'Bosnia Herzegovina' 'Russia' 'Romania'
 'DR Congo' 'Antigua &amp; Barbuda' 'Burkina Faso' 'Panama' 'Gibraltar'
 'Venezuela' 'Benin' 'Cyprus' 'Iran' 'Haiti' 'Slovakia' 'Ecuador'
 'Saudi Arabia' 'Guinea' 'New Zealand' 'Latvia' 'Honduras' 'Gabon' 'Kenya'
 'Angola' 'Bolivia' 'Costa Rica' 'Sierra Leone' 'Lithuania' 'Cape Verde'
 'Montenegro' 'Korea DPR' 'Gambia' 'Uzbekistan' 'Comoros' 'Kazakhstan'
 'Aruba' 'Guyana' 'Curacao' 'Zimbabwe' 'Zambia' 'Montserrat' 'Guam'
 'India' 'Cuba' 'Saint Kitts and Nevis' 'Armenia' 'Andorra' 'Philippines'
 'Liechtenstein' 'Thailand' 'Guinea Bissau' 'Jordan' 'Faroe Islands'
 'Mozambique' 'United Arab Emirates' 'New Caledonia' 'Equatorial Guinea'
 'Iraq' 'Barbados' 'Suriname' 'Central African Republic' 'Puerto Rico'
 'Bermuda' 'Libya' 'Grenada' 'Burundi' 'S√£o Tom√© &amp; Pr√≠ncipe'
 'Luxembourg' 'Eritrea' 'Chinese Taipei' 'Malta' 'Uganda' 'Saint Lucia'
 'Malaysia' 'Lebanon' 'Namibia' 'Azerbaijan' 'El Salvador' 'Singapore'
 'Tanzania' 'Malawi' 'Liberia' 'Dominican Republic' 'Syria' 'Afghanistan'
 'Mauritania' 'Chad' 'South Sudan' 'Belize' 'Papua New Guinea' 'Qatar'
 'Brunei Darussalam' 'Vietnam' 'Nicaragua' 'Sudan' 'Hong Kong' 'Palestine'
 'Rwanda' 'Indonesia' 'Macau' 'Niger']

In [53]:
#Voy a simplificar las variables naciones en continentes. 
continentes = continentes = {'Italy': 'Europa', 'Spain': 'Europa', 'England': 'Europa', 'Trinidad &amp; Tobago': 'Am√©rica', 'Germany': 'Europa', 'Turkey': 'Europa', 'Wales': 'Europa', 'Republic of Ireland': 'Europa', 'Nigeria': '√Åfrica', 'Brazil': 'Am√©rica', 'Australia': 'Ocean√≠a', 'Hungary': 'Europa', 'Argentina': 'Am√©rica', 'Portugal': 'Europa', 'Netherlands': 'Europa', 'France': 'Europa', 'Norway': 'Europa', 'Tunisia': '√Åfrica', 'Bulgaria': 'Europa', 'Poland': 'Europa', 'United States': 'Am√©rica', 'Mali': '√Åfrica', 'Finland': 'Europa', 'Iceland': 'Europa', 'Czech Republic': 'Europa', 'Serbia': 'Europa', 'Sweden': 'Europa', 'Georgia': 'Europa', 'Denmark': 'Europa', 'Senegal': '√Åfrica', 'Israel': 'Asia', 'Cameroon': '√Åfrica', 'Greece': 'Europa', 'Scotland': 'Europa', 'Ukraine': 'Europa', 'China PR': 'Asia', 'Colombia': 'Am√©rica', 'Belgium': 'Europa', 'Ivory Coast': 'Europa', 'Switzerland': 'Europa', 'Canada': 'Am√©rica', 'Chile': 'Am√©rica', 'Peru': 'Am√©rica', 'Paraguay': 'Am√©rica', 'Mexico': 'Am√©rica', 'Japan': 'Am√©rica', 'Ghana': '√Åfrica', 'Korea Republic': '√Åfrica', 'Belarus': 'Europa', 'Egypt': '√Åfrica', 'Congo': '√Åfrica', 'Uruguay': 'Am√©rica', 'South Africa': '√Åfrica', 'Northern Ireland': 'Europa', 'Togo': '√Åfrica', 'Jamaica': 'Am√©rica', 'Austria': 'Europa', 'Algeria': '√Åfrica', 'Morocco': '√Åfrica', 'Albania': 'Europa', 'North Macedonia': 'Europa', 'Slovenia': 'Europa', 'Madagascar': '√Åfrica', 'Croatia': 'Europa', 'Kosovo': 'Europa', 'Estonia': 'Europa', 'Moldova': 'Europa', 'Bosnia Herzegovina': 'Europa', 'Russia': 'Europa', 'Romania': 'Europa', 'DR Congo': '√Åfrica', 'Antigua &amp; Barbuda': 'Am√©rica', 'Burkina Faso': '√Åfrica', 'Panama': 'Am√©rica', 'Gibraltar': 'Europa', 'Venezuela': 'Am√©rica', 'Benin': '√Åfrica', 'Cyprus': 'Europa', 'Iran': 'Asia', 'Haiti': 'Am√©rica', 'Slovakia': 'Europa', 'Ecuador': 'Am√©rica', 'Saudi Arabia': 'Asia', 'Guinea': '√Åfrica', 'New Zealand': 'Ocean√≠a', 'Latvia': 'Europa', 'Honduras': 'Am√©rica', 'Gabon': '√Åfrica', 'Kenya': '√Åfrica', 'Angola': '√Åfrica', 'Bolivia': 'Am√©rica', 'Costa Rica': 'Am√©rica', 'Sierra Leone': '√Åfrica', 'Lithuania': 'Europa', 'Cape Verde': '√Åfrica', 'Montenegro': 'Europa', 'Korea DPR': 'Europa', 'Gambia': '√Åfrica', 'Uzbekistan': 'Europa', 'Comoros': '√Åfrica', 'Kazakhstan': 'Europa', 'Aruba': 'Europa', 'Guyana': 'Am√©rica', 'Curacao': 'Am√©rica', 'Zimbabwe': 'Europa', 'Zambia': 'Europa', 'Montserrat': 'Europa', 'Guam': 'Am√©rica', 'India': 'Europa', 'Cuba': 'Am√©rica', 'Saint Kitts and Nevis': 'Am√©rica', 'Armenia': 'Europa', 'Andorra': 'Europa', 'Philippines': 'Europa', 'Liechtenstein': 'Europa', 'Thailand': 'Europa', 'Guinea Bissau': '√Åfrica', 'Jordan': 'Europa', 'Faroe Islands': 'Europa', 'Mozambique': 'Europa', 'United Arab Emirates': 'Europa', 'New Caledonia': 'Ocean√≠a', 'Equatorial Guinea': '√Åfrica', 'Iraq': 'Asia', 'Barbados': 'Am√©rica', 'Suriname': 'Am√©rica', 'Central African Republic': '√Åfrica', 'Puerto Rico': 'Am√©rica', 'Bermuda': 'Europa', 'Libya': '√Åfrica', 'Grenada': 'Am√©rica', 'Burundi': '√Åfrica', 'S√£o Tom√© &amp; Pr√≠ncipe': 'Europa', 'Luxembourg': 'Europa', 'Eritrea': '√Åfrica', 'Chinese Taipei': 'Europa', 'Malta': 'Europa', 'Uganda': '√Åfrica', 'Saint Lucia': 'Am√©rica', 'Malaysia': 'Europa', 'Lebanon': 'Europa', 'Namibia': '√Åfrica', 'Azerbaijan': 'Europa', 'El Salvador': 'Am√©rica', 'Singapore': 'Europa', 'Tanzania': '√Åfrica', 'Malawi': '√Åfrica', 'Liberia': '√Åfrica', 'Dominican Republic': 'Am√©rica', 'Syria': 'Asia', 'Afghanistan': 'Asia', 'Mauritania': '√Åfrica', 'Chad': '√Åfrica', 'South Sudan': '√Åfrica', 'Belize': 'Am√©rica', 'Papua New Guinea': 'Ocean√≠a', 'Qatar': 'Asia', 'Brunei Darussalam': 'Asia', 'Vietnam': 'Asia', 'Nicaragua': 'Am√©rica', 'Sudan': '√Åfrica', 'Hong Kong': 'Asia', 'Palestine': 'Asia', 'Rwanda': '√Åfrica', 'Indonesia': 'Asia', 'Macau': 'Asia', 'Niger': '√Åfrica'}

categorical['Continente'] = categorical['Nationality'].map(continentes)
print(categorical)

                 Nationality Continente
0                      Italy     Europa
1                      Spain     Europa
2                    England     Europa
3      Trinidad &amp; Tobago    Am√©rica
4                      Spain     Europa
...                      ...        ...
17120                 France     Europa
17121                  Wales     Europa
17122                England     Europa
17123     Bosnia Herzegovina     Europa
17124                  Spain     Europa

[17125 rows x 2 columns]

In [106]:
categorical_cont=categorical.drop(['Nationality'], axis=1)
categorical_cont.Continente.value_counts()

Europa     10877
Am√©rica     4378
√Åfrica      1381
Asia         301
Ocean√≠a      188
Name: Continente, dtype: int64

In [104]:
# ERROR EN LA FORMULA, ME QUITA UN CONTINENTE
encoder = OneHotEncoder(handle_unknown='error', drop='first')
encoder.fit(categorical_cont)
encoded = encoder.transform(categorical_cont).toarray()
feature_names = encoder.get_feature_names_out(categorical_cont.columns)
X_cat_encoded = pd.DataFrame(encoded, columns=feature_names)
df_encod = categorical_cont.drop(categorical_cont.columns, axis=1)
cat_cont_encod = pd.concat([df_encod, X_cat_encoded], axis=1)
cat_cont_encod

,Continente_Asia,Continente_Europa,Continente_Ocean√≠a,Continente_√Åfrica
0,0.0,1.0,0.0,0.0
1,0.0,1.0,0.0,0.0
2,0.0,1.0,0.0,0.0
3,0.0,0.0,0.0,0.0
4,0.0,1.0,0.0,0.0
...,...,...,...,...
17120,0.0,1.0,0.0,0.0
17121,0.0,1.0,0.0,0.0
17122,0.0,1.0,0.0,0.0
17123,0.0,1.0,0.0,0.0
17124,0.0,1.0,0.0,0.0

In [109]:
# FORMULA DE CHAT GPT PARA HACER DUMMIES.
# Obtener variables dummies
dummies = pd.get_dummies(categorical_cont['Continente'], prefix='Continente')

# Concatenar las variables dummies al DataFrame original
categorical_encoded = pd.concat([categorical_cont, dummies], axis=1)

# Mostrar el DataFrame resultante
categorical_encoded

,Continente,Continente_Am√©rica,Continente_Asia,Continente_Europa,Continente_Ocean√≠a,Continente_√Åfrica
0,Europa,0,0,1,0,0
1,Europa,0,0,1,0,0
2,Europa,0,0,1,0,0
3,Am√©rica,1,0,0,0,0
4,Europa,0,0,1,0,0
...,...,...,...,...,...,...
17120,Europa,0,0,1,0,0
17121,Europa,0,0,1,0,0
17122,Europa,0,0,1,0,0
17123,Europa,0,0,1,0,0
17124,Europa,0,0,1,0,0

In [113]:
# cumplimnetamos la media de las columnas
column_means = numerical.mean()
numerical_filled = numerical.fillna(column_means)

In [115]:
numerical_filled.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17125 entries, 0 to 17124
Data columns (total 27 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Age              17125 non-null  int64
 1   Long Passing     17125 non-null  int64
 2   Ball Control     17125 non-null  int64
 3   Movement         17125 non-null  int64
 4   Acceleration     17125 non-null  int64
 5   Sprint Speed     17125 non-null  int64
 6   Agility          17125 non-null  float64
 7   Reactions        17125 non-null  int64
 8   Balance          17125 non-null  float64
 9   Power            17125 non-null  int64
 10  Shot Power       17125 non-null  int64
 11  Jumping          17125 non-null  float64
 12  Stamina          17125 non-null  int64
 13  Strength         17125 non-null  int64
 14  Long Shots       17125 non-null  int64
 15  Mentality        17125 non-null  int64
 16  Aggression       17125 non-null  int64
 17  Interceptions    17125 non-null  float64
 18  Positioning      17125 non-null  float64
 19  Vision           17125 non-null  float64
 20  Penalties        17125 non-null  int64
 21  Composure        17125 non-null  float64
 22  Defending        17125 non-null  int64
 23  Marking          17125 non-null  int64
 24  Standing Tackle  17125 non-null  int64
 25  Sliding Tackle   17125 non-null  float64
 26  Goalkeeping      17125 non-null  int64
dtypes: float64(8), int64(19)
memory usage: 3.5 MB